{% load static %}


    <div class="container d-flex justify-content-center py-3 w-100">
      <div class="mx-2">
        <a href="#"><img src="{% static "task_manager/facebook-48.png" %}"></a>
      </div>
      <div class="mx-2">
        <a href="#"><img src="{% static "task_manager/youtube-48.png" %}"></a>
      </div>
      <div class="mx-2">
        <a href="#"><img src="{% static "task_manager/twitter-48.png" %}"></a>
      </div>
    </div>

    <div class="text-center text-white m-0 p-3 w-auto" style="background-color: rgba(0, 0, 0, 0.2);">
      <a class="text-white" href="{% url "task_manager:index" %}">Martyniuk Eugen</a>
    </div>
