
  <div class="p-3" style="background-color: rebeccapurple">
      <ul class="nav justify-content-center" style="background-color: rebeccapurple">
      <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Workers</a>
      </li>
           <li class="nav-item">
        <a class="nav-link text-white" href="#">About Us</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{%  url "login" %}">Login</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url "logout" %}">Logout</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url "task_manager:worker-create" %}">Register</a>
      </li>
    </ul>

  </div>
