{% load static %}
<nav class="navbar navbar-expand-lg nav justify-content-center" style="background-color: dimgrey">
        <ul class="nav justify-content-center" style="background-color: dimgrey">
      <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" href="{% url "task_manager:index" %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url "task_manager:task-list" %}">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url "task_manager:worker-list" %}">Workers</a>
      </li>
           <li class="nav-item">
        <a class="nav-link text-white" href="#">About Us</a>
      </li>
      </ul>
        <ul class="navbar-nav">
      {% if not user.id %}
      <li class="nav-item">
          <a class="nav-link" href="{%  url "login" %}">Login</a>
      </li>
      {% endif %}
      {% if user.id %}
      <li class="nav-item">
          <a class="nav-link" href="{% url "logout" %}">Logout</a>
      </li>
      {% endif %}
          {% if not user.id %}
      <li class="nav-item">
          <a class="nav-link" href="{% url "task_manager:worker-create" %}">Register</a>
      </li>
          {% endif %}
    </ul>

</nav>
