{% extends "base.html" %}
{% load static %}
<body xmlns="http://www.w3.org/1999/html">

 {% block content %}

  <div class="p-3" style="background-color: rebeccapurple">
      <ul class="nav justify-content-center" style="background-color: rebeccapurple">
      <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Workers</a>
      </li>
           <li class="nav-item">
        <a class="nav-link text-white" href="#">About Us</a>
      </li>
    </ul>
  </div>

           <div class="ml-auto mt-auto m-sm-auto">
            <div class="nav justify-content-center m-4">
                 <div class="col-lg-3 ms-auto me-auto p-lg-2 mt-lg-0 mt-1 alert alert-dark m-2" style="background-color: lightgrey">
                     <p class="d-flex align-items-center" role="alert">TO DO</p>
                     {% for task in tasks %}
                     <div class="card">
                         <h5 class="card-header">{{ task.name }}</h5>
                            <div class="card-body">
                                <h5 class="card-title">{{ task.name }}</h5>
                                 <p class="card-text">{{ task.description }}</p>
                                <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                            </div>
                     </div>
                    <br>
                    {% endfor %}
                 <a href="{% url "task_manager:task-create" %}" class="btn btn-info">+ Add a task</a>
            </div>

            <div class="col-lg-3 ms-auto me-auto p-lg-2 mt-lg-0 mt-2 alert alert-dark m-2" style="background-color: lightgrey">
                <p class="text-strong d-flex align-items-center" role="alert">DOING</p>
                <div class="card">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <br>
            </div>

            <div class="col-lg-3 ms-auto me-auto p-lg-2 mt-lg-0 mt-2 alert alert alert-dark m-2" style="background-color: lightgrey">
                <p class="d-flex align-items-center" role="alert">DONE</p>
                <div class="card text-bg-primary mb-3">
                    <h5 class="card-header">Featured</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>


