{% extends "base.html" %}

{% block content %}
  <div class="ml-auto mt-auto m-sm-auto">
  <div class="nav justify-content-center m-4">
    <div class="col-lg-4 ms-auto me-auto p-lg-2 mt-lg-0 mt-2 alert alert alert-dark m-2" style="background-color: gainsboro">
    <h3 class="d-flex align-items-center">In process</h3>
    {% for task in task_list %}
            {% if task.is_completed == False %}
              <div class="card text-bg-primary mb-3">
                <h5 class="card-header" style="background-color: plum">
                  From:
                  {{ task.owner.first_name }}
                  {{ task.owner.last_name }}
                  (@{{ task.owner.username }})
                </h5>
                <div class="card-body">
                  <h5 class="card-title">{{ task.name }}</h5>
                  <p class="card-text alert-primary p-4">{{ task.description }}</p>

                  <h5 class="card-title">In process:</h5>
                  <h6>
                  {% for worker in  task.assignees.all %}
                    username: @{{ worker }}
                  {% endfor %}
                </h6>
                  <span class="nav justify-content-end"><a href="{% url "task_manager:task-detail" pk=task.id %}" class="btn btn-outline-primary">More Details</a></span>



                </div>
              </div>
            {% endif %}
    {% endfor %}
    <a href="{% url "task_manager:task-create" %}" class="btn btn-primary">Add a task</a>
    </div>

  <div class="col-lg-4 ms-auto me-auto p-lg-2 mt-lg-0 mt-2 alert alert alert-dark m-2" style="background-color: gainsboro">
  <h3 class="d-flex align-items-center">Done</h3>
  {% for task in task_list %}
    {% if task.is_completed == True %}
    <div class="card text-bg-primary mb-3 ">
      <h5 class="card-header" style="background-color: plum">
        From:
        {{ task.owner.first_name }}
        {{ task.owner.last_name }}
        (@{{ task.owner.username }})
      </h5>
      <div class="card-body">
        <h5 class="card-title">{{ task.name }}</h5>
        <p class="card-text alert-primary p-4">{{ task.description }}</p>
        <h5 class="card-title">Done by:
          <h6>
            {% for worker in task.assignees.all  %}
              {{ worker }}
            {% endfor %}
          </h6>
        </h5>
        <span class="nav justify-content-end"><a href="{% url "task_manager:task-detail" pk=task.id %}" class="btn btn-outline-primary">More Details</a></span>
      </div>
    </div>
    {% endif %}
  {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
