{% extends "base.html" %}
{% load crispy_forms_filters %}


{% block content %}
    <p>{{ task.name }}</p>
  <p>{{ task.deadline }}</p>
  <p>{{ task.description }}</p>
  <p>{{ task.is_completed }}</p>

  {% if user not in task.assignees.all  %}
  <form action="" method="post">
  {% csrf_token %}
    <div>
      {{ form|crispy }}
      <input type="hidden" name="assignees" value="{{ user.id }}">
      <input class="btn badge-primary" type="submit" value="start working">
    </div>
  </form>
    {% else %}
    <h5>You started this Task</h5>
  {% endif %}

  {% if task.is_completed == False and user in task.assignees.all %}
  <form action="" method="post">
  {% csrf_token %}
    <div>
      {{ form|crispy }}
      <input type="hidden" name="is_completed" value="{{ 1 }}">
      <input class="btn btn-success" type="submit" value="finish this Task">
    </div>
  </form>
  {% endif %}
{% endblock %}